<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/order/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/order/order.css">
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div id="top">
                <div class="sns">
                    <ul>
                        <li><a href="#" target="_blank"><img src="/static/img/header/top_btn_sns1.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="/static/img/header/top_btn_sns2.png" alt=""></a></li>
                    </ul>
                    <ul>
                        <li><a href="/account/login">로그인</a></li>
                        <li><a href="/account/register">회원가입</a></li>
                        <li><a href="/order/cart">장바구니0</a></li>
                        <li><a href="/mypage/index">마이페이지</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#"><img src="/static/img/header/top_btn_search.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="logo">
                    <a href="#"><img src="/static/img/header/event_left.png" alt=""></a>
                    <a href="/index"><img src="/static/img/header/logo.png" alt=""></a>
                    <a href="#"><img src="/static/img/header/event_right.png" alt=""></a>
                </div>
                <nav  class="nav">
                    <ul>
                        <li><a href="/goods/all">ALL</a></li>
                        <li><a href="/goods/DOll">DOLL</a></li>
                        <li><a href="/goods/FIGURE&TOY">FIGURE & TOY</a></li>
                        <li><a href="/goods/FANCY">FANCY</a></li>
                        <li><a href="/goods/ACCESSORY">ACCESSORY</a></li>
                        <li><a href="/goods/LIVING">LIVING</a></li>
                        <li><a href="/goods/KITCHEN&BATHROOM">KITCHEN & BATHROOM</a></li>
                        <li><a href="/goods/MOBILE">MOBILE</a></li>
                        <li><a href="/goods/깨꾹이">깨꾹이</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="bag_list">
            <div class="location_cont">
                <em><a class="local_home" href="#">HOME</a> > 장바구니</em>
            </div>
            <div class="content_box">
                <div class="order_wrap">
                    <div class="order_tit">
                        <h2>주문서작성/결제</h2>
                        <ol class="order_state">
                            <li>
                                <span>01</span> 장바구니 <span class="state_img"><img src="https://cdn-std-web-219-244-godomall.spdycdn.net/classythe8_godomall_com/data/skin/front/designbook_moderntim/img/member/icon_join_step_on.png" alt=">기호"></span>
                            </li>
                            <li class="page_on">
                                <span>02</span> 주문서작성/결제 <span class="state_img"><img src="https://cdn-std-web-219-244-godomall.spdycdn.net/classythe8_godomall_com/data/skin/front/designbook_moderntim/img/member/icon_join_step_on.png" alt=">기호"></span>
                            </li>
                            <li>
                                <span>03</span> 주문완료
                            </li>
                        </ol>
                    </div>
                        <div class="order_cont">
            
                            <div class="cart_cont_list">
                                <div class="order_cart_tit">
                                    <h3>주문상세내역</h3>
                                </div>
                                <!-- //order_cart_tit -->
            
                                <div class="order_table_type">
                                    <!-- 장바구니 상품리스트 시작 -->
                                    <table>
                                        <colgroup>
                                            <col>					<!-- 상품명/옵션 -->
                                            <col style="width:5%">  <!-- 수량 -->
                                            <col style="width:10%"> <!-- 상품금액 -->
                                            <col style="width:13%"> <!-- 할인/적립 -->
                                            <col style="width:10%"> <!-- 합계금액 -->
                                            <col style="width:10%"> <!-- 배송비 -->
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>상품/옵션 정보</th>
                                            <th>수량</th>
                                            <th>상품금액</th>
                                            <th>할인/적립</th>
                                            <th>합계금액</th>
                                            <th>배송비</th>
                                        </tr>
                                        </thead>
                                        <tbody>
            
            
                                        <tr>
                                            <td class="td_left">
                                                <input type="hidden" name="cartSno[]" value="257980">
                                                <div class="pick_add_cont">
                                                    <span class="pick_add_img">
                                                        <a href="../goods/goods_view.php?goodsNo=1000000486"><img src="https://cdn-std-web-219-244-godomall.spdycdn.net/classythe8_godomall_com/data/goods/22/09/35/1000000486/1000000486_list_0100.jpg" width="40" alt="익명이 귀염후드인형 v.2" title="익명이 귀염후드인형 v.2" class="middle"></a>
                                                    </span>
                                                    <div class="pick_add_info">
            
            
                                                        <em><a href="../goods/goods_view.php?goodsNo=1000000486">익명이 귀염후드인형 v.2</a></em>
            
                                                        <!-- //icon_pick_list -->
            
                                                        <div class="pick_option_box">
                                                            <span class="text_type_cont">디자인 : 옐로우 호랑후드 </span>
                                                        </div>
            
                                                        <div class="pick_option_box">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- //pick_add_cont -->
            
                                                <!-- //pick_add_list -->
            
                                            </td>
                                            <td class="td_order_amount">
                                                <div class="order_goods_num">
                                                    <strong>1개</strong>
                                                </div>
                                            </td>
                                            <td>
                                                <strong class="order_sum_txt price">25,000원</strong>
                                            </td>
                                            <td class="td_benefit">
                                                <ul class="benefit_list">
                                                    <li class="benefit_mileage js_mileage">
                                                        <em>적립</em>
                                                        <span>상품 <strong>+250원</strong></span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <strong class="order_sum_txt">25,000원</strong>
                                            </td>
                                            <td class="td_delivery" rowspan="1">
                                                기본 - 금액별배송비<br>
                                                2,500원
            
                                                <br>
                                                (택배)
                                            </td>
                                        </tr>
            
            
                                        </tbody>
                                    </table>
                                    <!-- 장바구니 상품리스트 끝 -->
                                </div>
            
                            </div>
                            <!-- //cart_cont_list -->
            
                            <div class="btn_left_box">
                                <a href="./cart.php" class="shop_go_link"><em>&lt; 장바구니 가기</em></a>
                            </div>
            
                            <div class="price_sum">
                                <div class="price_sum_cont">
                                    <div class="price_sum_list">
                                        <dl>
                                            <dt>총 <strong>1</strong> 개의 상품금액 </dt>
                                            <dd><strong>25,000</strong>원</dd>
                                        </dl>
                                        <span><img src="https://cdn-std-web-219-244-godomall.spdycdn.net/classythe8_godomall_com/data/skin/front/designbook_moderntim/img/order/order_price_plus.png" alt="더하기"></span>
                                        <dl>
                                            <dt>배송비</dt>
                                            <dd><strong>2,500</strong>원</dd>
                                        </dl>
                                        <span><img src="https://cdn-std-web-219-244-godomall.spdycdn.net/classythe8_godomall_com/data/skin/front/designbook_moderntim/img/order/order_price_total.png" alt="합계"></span>
                                        <dl class="price_total">
                                            <dt>합계</dt>
                                            <dd><strong>27,500</strong>원
                                            </dd>
                                        </dl>
                                    </div>
                                    <em class="tobe_mileage js_mileage">적립예정 마일리지 : <span>250</span> 원</em>
                                </div>
                                <!-- //price_sum_cont -->
                            </div>
                            <!-- //price_sum -->
            
            
                            <div class="order_view_info">
            
            
                                <div class="order_info">
                                    <div class="order_zone_tit">
                                        <h4>주문자 정보</h4>
                                    </div>
            
                                    <div class="order_table_type">
                                        <table class="table_left">
                                            <colgroup>
                                                <col style="width:15%;">
                                                <col style="width:85%;">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row"><span class="important">주문하시는 분</span></th>
                                                    <td><input type="text" name="orderName" value="" data-pattern="gdEngKor" maxlength="20"></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">전화번호</th>
                                                    <td>
                                                        <input type="text" id="phoneNum" name="orderPhone" value="" maxlength="20">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><span class="important">휴대폰 번호</span></th>
                                                    <td>
                                                        <input type="text" id="mobileNum" name="orderCellPhone" value="" maxlength="20">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><span class="important">이메일</span></th>
                                                    <td class="member_email">
                                                        <input type="text" name="orderEmail" value="">
                
                                                        <select id="emailDomain" class="chosen-select" style="display: none;">
                                                            <option value="self">직접입력</option>
                                                            <option value="naver.com">naver.com</option>
                                                            <option value="hanmail.net">hanmail.net</option>
                                                            <option value="daum.net">daum.net</option>
                                                            <option value="nate.com">nate.com</option>
                                                            <option value="hotmail.com">hotmail.com</option>
                                                            <option value="gmail.com">gmail.com</option>
                                                            <option value="icloud.com">icloud.com</option>
                                                        </select>
                                                        <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 120px;" title="" id="emailDomain_chosen">
                                                            <a class="chosen-single"><span></span>
                                                                <div>
                                                                    <b></b>
                                                                </div>
                                                            </a>
                                                            <div class="chosen-drop">
                                                                <div class="chosen-search">
                                                                    <input type="text" autocomplete="off" readonly="">
                                                                </div>
                                                                <ul class="chosen-results">
                                                                    <li class="active-result" data-option-array-index="0" style>직접입력</li>
                                                                    <li class="active-result" data-option-array-index="1" style>naver.com</li>
                                                                    <li class="active-result" data-option-array-index="2" style>hanmail.net</li>
                                                                    <li class="active-result result-selected" data-option-array-index="3" style>daum.net</li>
                                                                    <li class="active-result result-selected" data-option-array-index="4" style>nate.com</li>
                                                                    <li class="active-result" data-option-array-index="5" style>hotmail.com</li>
                                                                    <li class="active-result" data-option-array-index="6" style>gmail.com</li>
                                                                    <li class="active-result" data-option-array-index="7" style>icloud.com</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- //order_info -->
            
                                <div class="delivery_info">
                                    <div class="order_zone_tit">
                                        <h4>배송정보</h4>
                                    </div>
            
                                    <div class="order_table_type">
                                        <table class="table_left">
                                            <colgroup>
                                                <col style="width:15%;">
                                                <col style="width:85%;">
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th scope="row">배송지 확인</th>
                                                <td>
                                                    <div class="form_element">
                                                        <ul>
                                                            <li>
                                                                <input type="radio" name="shipping" id="shippingBasic">
                                                                <label for="shippingBasic" class="choice_s">기본 배송지</label>
                                                            </li>
                                                            <li>
                                                                <input type="radio" name="shipping" id="shippingRecently">
                                                                <label for="shippingRecently" class="choice_s">최근 배송지</label>
                                                            </li>
                                                            <li>
                                                                <input type="radio" name="shipping" id="shippingNew">
                                                                <label for="shippingNew" class="choice_s on">직접 입력</label>
                                                            </li>
                                                            <li>
                                                                <input type="radio" name="shipping" id="shippingSameCheck">
                                                                <label for="shippingSameCheck" class="choice_s">주문자정보와 동일</label>
                                                            </li>
                                                        </ul>
                                                        <span class="btn_gray_list"><a href="#myShippingListLayer" class="btn_gray_small btn_open_layer js_shipping"><span>배송지 관리</span></a></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><span class="important">받으실분</span></th>
                                                <td><input type="text" name="receiverName" data-pattern="gdEngKor" maxlength="20"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><span class="important">받으실 곳</span></th>
                                                <td class="member_address">
                                                    <div class="address_postcode">
                                                        <input type="text" name="receiverZonecode" readonly="readonly">
                                                        <input type="hidden" name="receiverZipcode">
                                                        <span id="receiverZipcodeText" class="old_post_code"></span>
                                                        <button type="button" class="btn_post_search" onclick="gd_postcode_search('receiverZonecode', 'receiverAddress', 'receiverZipcode');">우편번호검색</button>
                                                    </div>
                                                    <div class="address_input">
                                                        <input type="text" name="receiverAddress" readonly="readonly">
                                                        <input type="text" name="receiverAddressSub">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">전화번호</th>
                                                <td>
                                                    <input type="text" id="receiverPhone" name="receiverPhone">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><span class="important">휴대폰 번호</span></th>
                                                <td>
                                                    <input type="text" id="receiverCellPhone" name="receiverCellPhone">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">남기실 말씀</th>
                                                <td class="td_last_say"><input type="text" name="orderMemo"></td>
                                            </tr>
                                            <tr id="memberinfoApplyTr">
                                                <th scope="row">회원정보 반영</th>
                                                <td>
                                                    <div class="form_element">
                                                        <div id="memberinfoApplyTr1" class="member_info_delivery">
                                                            <input type="checkbox" id="reflectApplyDelivery" name="reflectApplyDelivery" value="y">
                                                            <label for="reflectApplyDelivery" class="check_s"><em>나의 배송지에 추가합니다.</em></label>
                                                        </div>
                                                        <div id="memberinfoApplyTr2" class="member_info_apply">
                                                            <input type="checkbox" id="reflectApplyMember" name="reflectApplyMember" value="y">
                                                            <label for="reflectApplyMember" class="check_s">위 내용을 회원정보에 반영합니다. <span>(주소/전화번호/휴대폰번호)</span></label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- //delivery_info -->
            
                                <!-- //addition_info -->
            
                                <div class="payment_info">
                                    <div class="order_zone_tit">
                                        <h4>결제정보</h4>
                                    </div>
            
                                    <div class="order_table_type">
                                        <table class="table_left">
                                            <colgroup>
                                                <col style="width:15%;">
                                                <col style="width:85%;">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                   <th scope="row">상품 합계 금액</th>
                                                   <td>
                                                       <strong id="totalGoodsPrice" class="order_payment_sum">25,000원</strong>
                                                   </td>
                                               </tr>
                                              <tr>
                                                 <th scope="row">배송비</th>
                                                  <td>
                                                        <span id="totalDeliveryCharge">2,500</span>원
                                                   </td>
                                               </tr>
                                                <tr>
                                                    <th scope="row">할인 및 적립</th>
                                                  <td>
                                                    <ul class="order_benefit_list">
                                                        <li class="order_benefit_sale">
                                                            <em id="saleDefault">
                                                                할인 : <strong>(-) <b class="total-member-dc-price">0</b>원</strong>
                                                                <span>(
                                                                상품 0원
                                                                , 회원 <span class="member-dc-price">0원</span>
                                                                , 쿠폰 0원
                                                                )</span>
                                                            </em>
                                                            <em id="saleWithoutMember" class="dn">
                                                                할인 : <strong>(-) 0원</strong>
                                                                <span>(
                                                                상품 0원
                                                                , 회원 0원
                                                                , 쿠폰 0원
                                                                )</span>
                                                            </em>
                                                        </li>
                                                        <li class="order_benefit_mileage js_mileage">
                                                            <em id="mileageDefault">
                                                                적립 마일리지 : <strong>(+) <b class="total-member-mileage">250</b>원</strong>
                                                                <span>
                                                                    (
                                                                    상품 <span class="goods-mileage">250</span>원,
                                                                    회원 <span class="member-mileage">0</span>원,
                                                                    쿠폰 0원
                                                                    )
                                                                </span>
                                                            </em>
                                                            <em id="mileageWithoutMember" class="js_mileage dn">
                                                                적립 마일리지 : <strong>(+) 250원</strong>
                                                                <span>
                                                                    (
                                                                    상품 250원,
                                                                    회원 0원,
                                                                    쿠폰 0원
                                                                    )
                                                                </span>
                                                            </em>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">쿠폰 사용</th>
                                                <td>
                                                    <input type="hidden" name="couponApplyOrderNo" value="">
                                                    <input type="hidden" name="totalCouponOrderDcPrice" value="">
                                                    <input type="hidden" name="totalCouponOrderPrice" value="">
                                                    <input type="hidden" name="totalCouponOrderMileage" value="">
                                                    <input type="hidden" name="totalCouponDeliveryDcPrice" value="">
                                                    <input type="hidden" name="totalCouponDeliveryPrice" value="">
                                                    <ul class="order_benefit_list order_coupon_benefits  dn">
                                                        <li class="order_benefit_sale">
                                                            <em>
                                                                주문할인 : <strong>(-) <b id="useDisplayCouponDcPrice">0</b>원</strong>
                                                            </em>
                                                        </li>
                                                        <li class="order_benefit_sale">
                                                            <em>
                                                                배송비할인 : <strong>(-) <b id="useDisplayCouponDelivery">0</b>원</strong>
                                                            </em>
                                                        </li>
                                                        <li class="order_benefit_mileage js_mileage">
                                                            <em>
                                                                적립 마일리지 : <strong>(+) <b id="useDisplayCouponMileage">0</b>원</strong>
                                                            </em>
                                                        </li>
                                                    </ul>
                                                    <span class="btn_gray_list">
                                                        <button type="button" href="#couponOrderApplyLayer" class="btn_gray_mid btn_open_layer"><span>쿠폰 조회 및 적용</span></button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">마일리지 사용</th>
                                                <td>
                                                    <div class="order_money_use">
                                                        <b><input type="text" name="useMileage" onblur="gd_mileage_use_check();"> 원</b>
                                                        <div class="form_element">
                                                            <input type="checkbox" id="useMileageAll" onclick="gd_mileage_use_all();">
                                                            <label for="useMileageAll" class="check_s">전액 사용하기</label>
                                                            <span class="money_use_sum">(보유 마일리지 : 1,000 원)</span>
                                                        </div>
                                                        <em class="money_use_txt">
                                                            ※
                                                            1,000원까지
                                                            사용 가능합니다.
                                                        </em>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <th scope="row">최종 결제 금액</th>
                                                <td>
                                                    <input type="hidden" name="settlePrice" value="27500">
                                                    <input type="hidden" name="overseasSettlePrice" value="0">
                                                    <input type="hidden" name="overseasSettleCurrency" value="KRW">
                                                    <strong id="totalSettlePrice" class="order_payment_sum">27,500</strong>원
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- //payment_info -->
            
                                <div class="payment_progress">
                                    <div class="order_zone_tit">
                                        <h4>결제수단 선택 / 결제</h4>
                                        <p class="js_pay_content">※ 고객님은 안전거래를 위해 현금으로 결제시 저희 쇼핑몰에서 가입한 구매안전서비스인 NHN KCP의 구매안전(에스크로)서비스를 이용하실 수 있습니다.</p>
                                    </div>
            
                                    <div class="payment_progress_list">
                                        <div class="js_pay_content">
                                            <!-- N : 페이코결제 시작 -->
                                            <!-- N : 페이코결제 끝 -->
            
                                            <!-- N : 일반결제 시작 -->
                                            <div id="settlekind_general" class="general_payment">
                                                <dl>
                                                    <dt>일반결제</dt>
                                                    <dd>
                                                        <div class="form_element">
                                                            <ul class="payment_progress_select">
                                                                <li id="settlekindType_gb">
                                                                    <input type="radio" id="settleKind_gb" name="settleKind" value="gb">
                                                                    <label for="settleKind_gb" class="choice_s on">무통장 입금</label>
                                                                </li>
                                                                <li id="settlekindType_pc">
                                                                    <input type="radio" id="settleKind_pc" name="settleKind" value="pc">
                                                                    <label for="settleKind_pc" class="choice_s">신용카드</label>
                                                                </li>
                                                                <li id="settlekindType_pb">
                                                                    <input type="radio" id="settleKind_pb" name="settleKind" value="pb">
                                                                    <label for="settleKind_pb" class="choice_s">계좌이체</label>
                                                                </li>
                                                                <li id="settlekindType_pv">
                                                                    <input type="radio" id="settleKind_pv" name="settleKind" value="pv">
                                                                    <label for="settleKind_pv" class="choice_s">가상계좌</label>
                                                                </li>
                                                            </ul>
                                                        </div>
            
                                                        <!-- N : 무통장입금 -->
                                                        <div id="settlekind_general_gb" class="pay_bankbook_box" style="display: block;">
                                                            <em class="pay_bankbook_txt">( 무통장 입금 의 경우 입금확인 후부터 배송단계가 진행됩니다. )</em>
                                                            <ul>
                                                                <li>
                                                                    <strong>입금자명</strong>
                                                                    <input type="text" name="bankSender">
                                                                </li>
                                                                <li>
                                                                    <strong>입금은행</strong>
                                                                    <select name="bankAccount" class="chosen-select" style="display: none;">
                                                                        <option value="">선택하세요</option>
                                                                        <option value="1">국민 03900104282373 채승우</option>
                                                                    </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 350px;" title=""><a class="chosen-single"><span>선택하세요</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- //pay_bankbook_box -->
            
                                                        <!-- 신용카드 컨텐츠 -->
                                                        <div class="card" id="settlekind_general_pc" style="display: none;"></div>
                                                        <!-- //신용카드 컨텐츠 -->
            
                                                        <!-- 계좌이체 컨텐츠 -->
                                                        <div class="account-bank" id="settlekind_general_pb" style="display: none;"></div>
                                                        <!-- //계좌이체 컨텐츠 -->
            
                                                        <!-- 가상계좌 컨텐츠 -->
                                                        <div class="virtual-bank" id="settlekind_general_pv" style="display: none;"></div>
                                                        <!-- //가상계좌 컨텐츠 -->
            
            
            
                                                    </dd>
                                                </dl>
                                            </div>
                                            <!-- //general_payment -->
                                            <!-- N : 일반결제 끝 -->            
                                        </div>
                                        <!-- N : 현금영수증/계산서 발행 시작 -->
                                        <div id="receiptSelect" class="cash_tax_get" style="display: block;">
                                            <dl>
                                                <dt>현금영수증/계산서 발행</dt>
                                                <dd>
                                                    <div class="form_element">
                                                        <ul class="payment_progress_select">
                                                            <li id="nonReceiptView">
                                                                <input type="radio" id="receiptNon" name="receiptFl" value="n" onclick="gd_receipt_display();">
                                                                <label for="receiptNon" class="choice_s on">
                                                                    <div class="cash_receipt_non">신청안함</div>
                                                                    <div class="cash_receipt_pg" style="display: none;">현금영수증 (※ 결제창에서 신청)</div>
                                                                </label>
                                                            </li>
                                                            <li id="cashReceiptView">
                                                                <input type="radio" id="receiptCash" name="receiptFl" value="r" onclick="gd_receipt_display();">
                                                                <label for="receiptCash" class="choice_s">현금영수증</label>
                                                            </li>
                                                            <li id="taxReceiptView">
                                                                <input type="radio" id="receiptTax" name="receiptFl" value="t" onclick="gd_receipt_display();">
                                                                <label for="receiptTax" class="choice_s">세금계산서</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </dd>
                                            </dl>
            
                                            <!-- N : 현금영수증 시작 -->
                                            <div id="cash_receipt_info" class="cash_receipt_box js_receipt dn">
                                                <div class="form_element">
                                                    <ul class="payment_progress_select">
                                                        <input type="hidden" name="cashCertFl" value="c">
                                                        <li>
                                                            <input type="radio" id="cashCert_d" name="cashUseFl" value="d" onclick="gd_cash_receipt_toggle();" checked="checked">
                                                            <label class="choice_s" for="cashCert_d">소득공제용</label>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="cashCert_e" name="cashUseFl" value="e" onclick="gd_cash_receipt_toggle();">
                                                            <label class="choice_s" for="cashCert_e">지출증빙용</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="cash_receipt_list">
                                                    <dl id="certNoHp">
                                                        <dt>휴대폰번호</dt>
                                                        <dd><input type="text" name="cashCertNo[c]" class="number_only" value="01044477643" maxlength="11"></dd>
                                                    </dl>
                                                    <dl id="certNoBno">
                                                        <dt>사업자번호</dt>
                                                        <dd><input type="text" name="cashCertNo[b]" class="number_only" value="" maxlength="10"></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <!-- //cash_receipt_box -->
            
                                            <!-- N : 세금 계산서 -->
                                            <div id="tax_info" class="tax_invoice_box js_receipt dn">
                                                <div class="order_table_type">
                                                    <table summary="세금계산서 입력폼입니다." class="table_left">
                                                        <colgroup>
                                                            <col style="width:15%;">
                                                            <col style="width:35%;">
                                                            <col style="width:15%;">
                                                            <col style="width:35%;">
                                                        </colgroup>
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">사업자번호</th>
                                                            <td colspan="3"><input type="text" name="taxBusiNo" placeholder="- 없이 입력하세요" value="" maxlength="10"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">회사명</th>
                                                            <td><input type="text" name="taxCompany" value="" maxlength="50" data-pattern="gdMemberNmGlobal"></td>
                                                            <th scope="row">대표자명</th>
                                                            <td><input type="text" name="taxCeoNm" value=""></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">업태</th>
                                                            <td><input type="text" name="taxService" value=""></td>
                                                            <th scope="row">종목</th>
                                                            <td><input type="text" name="taxItem" value=""></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">사업장주소</th>
                                                            <td colspan="3" class="member_address">
                                                                <div class="address_postcode">
                                                                    <input type="text" name="taxZonecode" value="" readonly="readonly">
                                                                    <input type="hidden" name="taxZipcode" value="">
                                                                    <span id="taxrZipcodeText" class="old_post_code"></span>
                                                                    <button type="button" onclick="gd_postcode_search('taxZonecode', 'taxAddress', 'taxZipcode');" class="btn_post_search">우편번호검색</button>
                                                                </div>
                                                                <div class="address_input">
                                                                    <input type="text" name="taxAddress" value="">
                                                                    <input type="text" name="taxAddressSub" value="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- //tax_invoice_box -->
            
                                        </div>
                                        <!-- //cash_tax_get -->
                                        <!-- N : 현금영수증/계산서 발행 끝-->
            
                                    </div>
                                    <!-- //payment_progress_list -->
                                    <div class="payment_final">
                                        <div class="payment_final_total">
                                            <dl>
                                                <dt>최종 결제 금액</dt>
                                                <dd><span><strong id="totalSettlePriceView">27,500</strong>원</span></dd>
                                            </dl>
                                        </div>
                                        <div class="payment_final_check">
                                            <div class="form_element">
                                                <input type="checkbox" id="termAgree_orderCheck" class="require">
                                                <label for="termAgree_orderCheck" class="check_s"><em><b>(필수)</b> 구매하실 상품의 결제정보를 확인하였으며, 구매진행에 동의합니다.</em></label>
                                            </div>
                                        </div>
                                        <div class="btn_center_box">
                                            <button class="btn_order_buy order-buy"><em>결제하기</em></button>
                                        </div>
                                    </div>
                                    <!-- //payment_final -->
            
                                </div>
                                <!-- //payment_progress -->
            
                            </div>
                            <!-- //order_view_info -->
                        </div>
                        <!-- //order_cont -->
                    </div>
                    </div>
                </div>
            </div>
        </section>    
    </div>
</body>
</html>